includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    scanDirectories: 
        - helpers
    checkMissingIterableValueType: false
    paths:
        - src
        - modules
    excludePaths:
        - modules/*/templates/*
        - modules/calendar/includes/*
