# ----------------------------------------------------------------------
# Rewrite engine
# ----------------------------------------------------------------------

# Turning on the rewrite engine is necessary for the following rules and features.
# FollowSymLinks must be enabled for this to work.
<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	Options -Indexes
	
	RewriteEngine On
	#RewriteBase /
  
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/?$ index.php?module=$1&action=$2&id=$3 [L,QSA]
    #RewriteRule ^([^/.]+)/([^/.]+)/?$ index.php?module=$1&action=$2 [L,QSA]
    #RewriteRule ^([^/.]+)/?$ index.php?module=$1 [L,QSA]

	RewriteRule ^(.*)$ index.php?q=$1 [L,QSA] 
	
	
</IfModule>
